.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.imgWrap {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 10;
}

.img-graphics {
    width: 500px;
    height: 400px;
    z-index: 10;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem 2rem;
    column-gap: .5rem;
    border-radius: 10px;
    font-size: 2rem;
    background: none;
    cursor: pointer;
    border: 1px solid rgb(87, 87, 87);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.7); /* Adjust values as needed */
    transition: text-shadow 0.3s ease; /* Add smooth transition */
}

.warning-login {
    color: red;
}

.no-detect {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: .5rem;
    justify-content: center;
}