.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #24262E;
    border-radius: 35px;
    color: white;
    padding: .5rem 1rem;
    border: 1px solid rgba(123, 123, 123, 0.135);
}

.img-brand {
    width: 17%;
    height: 60%;
}

.links-wrap {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    padding: .75rem 1.25rem;
    cursor: pointer;
    border-radius: 35px;
    transition: color 0.3s ease-in-out,
        border-radius 0.3s ease-in-out,
        padding 0.3s ease-in-out;
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .badge-value-container-outer {
    background-color: #FF47ED;
    background-image: linear-gradient(to bottom right, #ff47ed, #9747FF);
    border-radius: 16px;
    padding: 2px;
  }
  
  .badge-value-container {
    background-image: linear-gradient(to bottom right, #55174f, #2e154e);
    width: 57px;
    height: 57px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .badge-value {
    font-size: 19.3px;
    font-weight: 500;
    color: #BA85FF;
  }
  
  
.linkActive {
    background-color: #484C5C;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    padding: .75rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border-radius 0.3s ease-in-out,
        padding 0.3s ease-in-out;
}

.trust {
    padding: .75rem 1.25rem;
    color: white;
    text-shadow: 0 0 30px rgba(170, 0, 255, 0.7); /* Adjust values as needed */
    transition: text-shadow 0.3s ease; /* Add smooth transition */
}

.link-profile {
    padding: .75rem 1.25rem;
    display: flex;
    background-color: #9747FF;
    align-items: center;
    column-gap: .5rem;
    border-radius: 35px;
    color: white;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.link-profile-active {
    padding: .75rem 1.25rem;
    display: flex;
    background-color: #9747FF;
    align-items: center;
    column-gap: .5rem;
    border-radius: 35px;
    color: white;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.avatar {
}